@tailwind base;
@tailwind components;
@tailwind utilities;

.loginform {
  display: flex;
  flex-direction: column;
  justify-items: center;
 
  align-items: center;
  
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: rgb(250, 250, 250);
  height: 320px;
  width: 400px;
  border-radius: 10px;
  margin: 80px;
  margin-left: 450px;
  padding: 10px;
  box-shadow: 1px 3px 10px 5px grey;
}

.loginform h2 {
  color: rgb(27, 118, 238);
  font-weight: 1000;
  font-size: 30px;
  margin: 15px 15px 0px 15px;
}

.login_input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 15px;
  font-size: 15px;
}



.linksingup {
  color: gray;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
}


.loginformbtn {
  display: block;
  background-color: rgb(62, 123, 236);
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  display: inline;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 12px;
}
