
.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}

.card_div {
  width: 220px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin: 20px 10px;
  float: left;
  transition: all 100ms ease-in-out;
  box-shadow: 0.5px 2px 10px 3px grey;
}

.thumbnailImg {
  width: 220px;
  height: 220px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
}

.desc_div {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 5px 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.price_div {
  display: flexbox;
  flex-direction: row;
  padding: 0px 5px;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.price_para {
  display: block;
}

.desc_textarea {
  display: block;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 400px;
  word-wrap: break-word;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  cursor: pointer;
}

.buybtn {
  display: block;
  width: 420px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(6, 113, 252);
  cursor: pointer;
  margin: 10px;
}

.buybtn:hover{
  background-color: rgb(136, 172, 248);
}


.viewbtn {
  display: block;
  width: 200px;
  height: 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: rgb(29, 29, 29);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 15px;
  font-weight: 500;
  text-align: left;
}

