.featureContainer {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-top: 25px;

}

.feature {
  color: white;
  width: 700px;
  height: auto;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

.Detailsdiv {
  background-color: white;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
}

.featureTitle textarea {
  font-size: 40px;
  
}

.featuredetails .price_para {
  font-size: 20px;
}

.buybtn_div {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 250px;
}

.buybtn{
  width: 200px;
}
  .feautureList{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


.featureListdiv {
 
  width: 450px;

  background-color: rgb(15, 14, 14);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.featureList_Title {
  color: white;
  font-size: 20px;
  cursor: pointer;
}


.featureList-desc p {
  color: rgb(206, 204, 204);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;

  padding: 10px;
  color: white;
  font-size: 15px;
  display: inline;
}



.similardiv{
  display: block;
 
  margin: 30px;
  margin-left: 30px;
}