.sideBar {
  display: inline;
  height: auto;
  margin-top: 10px;

}

.sideoption_div {
  display: inline-block;
  height: auto;
  width: 250px;
  padding: 20px;
  background-color: rgb(187, 205, 238);
  border-radius: 15px;
}

.sidebar_option {
  display: block;
  color: rgb(59, 56, 56);
  
  cursor: pointer;
  
  text-decoration: none;
 
  padding: 10px;
  border-radius: 6px;
}

.sidebar_option:hover{
     background-color: rgb(59, 163, 255);
     color: white;
}




