.accountIcon {
    position: relative;
    display: inline;
    cursor: pointer;
  }
  
  .toggleoption_div {
    display: inline-block;
    position: absolute;
    width: 200px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    text-align: center;
    right: 20px;
    top: 70px;
    z-index: 10;
    box-shadow: 1px 1px 5px 2px grey;
  }
  
  .toggleoption {
    display: block;
    color: #3a3a3a;
    padding: 10px;
    text-align: center;
  
    text-decoration: none;
    background-color: rgb(255, 255, 255);
   
  }
  

  .toggleoption:hover{
    background-color: rgb(59, 163, 255);
    color: white;
    border-radius: 6px;
}






  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-search {
      margin: 10px 0;
      width: 100%;
    }
  
    .search-bar {
      width: 100%;
    }
  
    .navbar-buttons {
      margin-top: 10px;
    }
  }