@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  background-color: rgb(224, 224, 224);
  padding: 0px 0px;
  min-height: 100vh;
}

.body{
  display: flex;
  flex-direction: row;
}

.container{
  width: 100%;
}